[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/Eigen3"]
	path = external/Eigen3
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "build/external/VulkanMemoryAllocator"]
	path = build/external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
